<div class="form-row">
	<input type="text" class="text" id="email" placeholder="Email" />
	<div id="email-error" class="error-indicator"></a>
</div>
<div class="form-row">
	<input type="password" id="password" class="text last-input" placeholder="Password" />
	<div id="password-error" class="error-indicator"></a>
</div>
<input type="button" id="register" class="button important margin-fix" value="SIGN UP" title="After pressing the button, a confirmation email will be sent to the email address that you have provided" />
<a href="#" id="goToLogin">Cancel</a>